[submodule "TituEngine/vendor/spdlog"]
	path = TituEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TituEngine/vendor/GLFW"]
	path = TituEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "TituEngine/vendor/imgui"]
	path = TituEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "TituEngine/vendor/glm"]
	path = TituEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
